*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.heading{
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50px;
    left: 120px;
}
h1{
    color: white;
    font-size: 30px;
    font-weight: 100;
    position: absolute;
    right: 150px;
    top: 55px;
}
#header2{
    color: white;
    font-size: 30px;
    font-weight: 100;
    position: absolute;
    top: 150px;
    left: 120px;
}
#iconplus{
    font-size: 40px;
    color: rgb(103, 103, 231);
    position: absolute;
    right: 280px;
    top: 52px;
}
#addtask, #additem{
    height: 200px;
    width: 400px;
    border-radius: 10px;
    background-color: white;
    position: fixed;
    top: 35%;
    left: 35%;
    display: none;
    animation: anim 1s 1;
}
@keyframes anim{
    0%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0px);
    }
}
#list, #iteminlist{
    height: 35px;
    width: 300px;
    border: 1px solid black;
    position: relative;
    top: 40px;
    left: 50px;
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
    text-align: center;
}
.listname{
    color: red;
    position: relative;
    top: 25px;
    left: 130px;
    font-size: 25px;
}
.itemname{
    color: red;
    position: relative;
    top: 26px;
    left: 133px;
    font-size: 22px;
}
#add, #add_itemBtn{
    background-color: rgb(228, 66, 66);
    height: 40px;
    width: 100px;
    border-radius: 20px;
    position: relative;
    top: 50px;
    left: 88px;
    border: none;
    color: white;
    font-size: 20px;
}
.blur{
    filter: blur(10px);
}
#close, #close_itemBtn{
    background-color: rgb(228, 66, 66);
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border: none;
    position: relative;
    top: 50px;
    left: 108px;
    color: white;
    font-size: 20px;
}
#backicon{
    font-size: 40px;
    position: absolute;
    left: 250px;
    top: 60px;

}
.textofback{
    color: white;
    font-size: 40px;
    display: inline-block;
    position: absolute;
    left: 300px;
    top: 60px;
}
#iconplus2{
    font-size: 40px;
    color: rgb(103, 103, 231);
    position: absolute;
    right: 250px;
    top: 60px;
    
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 200px;
    gap: 30px;
}
.newTodo{
	width: 180px;
	height: 300px;
	background-color: white;
	color: black;
	border: 1px solid transparent;
	border-radius: 9px;
	position: relative;
	text-align: center;
}

.TodoHeading{
    font-size: 20px;
    color: rgb(230, 94, 94);
    position: relative;
    top: 8px;
    left: 0px;
    padding-bottom: 20px;
    font-family: 'Belanosima', sans-serif;
}
.delTodo {
	position: absolute;
	bottom: 10px;
	right: 45px;
    width: 30px;
	height: 30px;
    border-radius: 50%;
    background-color: rgb(233, 5, 5);
    color: white;
    font-size: 15px;
    padding-top: 7px;
}
.addTodo {
	font-size: 30px;
    font-weight: bold;
	position: absolute;
	bottom: 7px;
	right: 7px;
    padding-top: 2px;
}
.unique{
    display: none;
}

.newItem{
    font-size: 15px;
    font-family: 'Belanosima', sans-serif;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 20px;
}
.statusbar{
    font-size: 13px;
    height: 20px;
    width: 75px;
    border-radius: 30px;
    background-color: #1595d5;
    margin-right: 20px;
    padding-top: 2px;

}
#card{
    position: absolute;
    top: 70px;
    left: 45%;
    font-weight: bold;
    font-size: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: white;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    position: absolute;
    left: 610px;
    top: 70px;
}


@media (max-width: 500px) and (min-width: 250px){
    .heading{
        margin-left: -48px;
    }
    #header2{
        position: absolute;
        top: 215px;
        left: 48px;
    }
    .add{
        position: relative;
        top: 20px;
    }
    h1{
        display: none;
    }
    #iconplus{
        position: absolute;
        top: -80px;
        left: 180px;
    }
    #addtask, #additem{
        margin-left: -61px;
        width: 250px;
        height: 171px;
        border-radius: 25px
    }
    .listname{
        position: relative;
        left: 55px;
    }
    .itemname{
        position: relative;
        left: 55px;
    }
    #list, #iteminlist{
        width: 210px;
        position: relative;
        left: 21px;
    }
    #add, #add_itemBtn{
        position: relative;
        left: 17px;
    }
    #close, #close_itemBtn{
        position: relative;
        left: 30px;
    }
    section{
        display: flex;
        flex-direction: column;
        margin-left: 112px;
        gap: 30px;
    }
    
} 