*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.heading{
    color: white;
    font-size: 50px;
    margin-left: 115px;
    margin-top: 50px;
}
#h1{
    color: white;
    font-size: 30px;
    font-weight: 100;
    position: absolute;
    right: 150px;
    top: 55px;
}
#header2{
    color: white;
    font-size: 30px;
    font-weight: 100;
    position: absolute;
    top: 150px;
    left: 120px;
}
#iconplus{
    font-size: 40px;
    color: rgb(103, 103, 231);
    position: absolute;
    right: 280px;
    top: 52px;
}
#addtask, #additem{
    height: 200px;
    width: 400px;
    border-radius: 10px;
    background-color: white;
    position: fixed;
    top: 35%;
    left: 35%;
    display: none;
    animation: anim 1s 1;
}
@keyframes anim{
    0%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0px);
    }
}
#list, #iteminlist{
    height: 35px;
    width: 300px;
    border: 1px solid black;
    position: relative;
    top: 40px;
    left: 50px;
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
    text-align: center;
}
.listname{
    color: red;
    position: relative;
    top: 25px;
    left: 130px;
    font-size: 25px;
}
.itemname{
    color: red;
    position: relative;
    top: 26px;
    left: 133px;
    font-size: 22px;
}
#add, #add_itemBtn{
    background-color: rgb(228, 66, 66);
    height: 40px;
    width: 100px;
    border-radius: 20px;
    position: relative;
    top: 50px;
    left: 88px;
    border: none;
    color: white;
    font-size: 20px;
}
.blur{
    filter: blur(10px);
}
#close, #close_itemBtn{
    background-color: rgb(228, 66, 66);
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border: none;
    position: relative;
    top: 50px;
    left: 108px;
    color: white;
    font-size: 20px;
}
#backicon{
    font-size: 40px;
    position: absolute;
    left: 250px;
    top: 60px;

}
.textofback{
    color: white;
    font-size: 40px;
    display: inline-block;
    position: absolute;
    left: 300px;
    top: 60px;
}
#iconplus2{
    font-size: 40px;
    color: rgb(103, 103, 231);
    position: absolute;
    right: 250px;
    top: 60px;
    
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
    margin-left: 200px;
    margin-right: 200px;
    gap: 30px;
}
.newTodo{
	width: 180px;
	height: 300px;
	background-color: white;
	color: black;
	border: 1px solid transparent;
	border-radius: 9px;
	position: relative;
	text-align: center;
    
}
.TodoHeading{
    font-size: 18px;
    color: rgb(230, 94, 94);
    position: relative;
    top: 10px;
    left: 0px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.delTodo {
	position: absolute;
	bottom: 10px;
	right: 45px;
    width: 30px;
	height: 30px;
    border-radius: 50%;
    background-color: rgb(233, 5, 5);
    color: white;
    font-size: 15px;
    padding-top: 7px;
}
.addTodo {
	font-size: 30px;
    font-weight: bold;
	position: absolute;
	bottom: 7px;
	right: 7px;
    padding-top: 2px;
}
.unique{
    display: none;
}

.newItem{
    font-size: 15px;
    font-family: 'Belanosima', sans-serif;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 20px;
}
.statusbar{
    font-size: 13px;
    height: 20px;
    width: 75px;
    border-radius: 30px;
    background-color: #1595d5;
    margin-right: 20px;
    padding-top: 2px;

}
#card{
    position: absolute;
    top: 70px;
    left: 45%;
    font-weight: bold;
    font-size: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: white;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    position: absolute;
    left: 610px;
    top: 70px;
}
.position{
	left: 40%;
    top: 80px;
}


/* ############################### */
@media screen and (min-width: 360px) and (max-width: 400px) {
	nav{
		flex-direction: column;
		gap: 20px;
	}
    .heading{
        margin-left: 60px;
    }
    h1{
        margin-top: 80px;
        margin-right: -52px;
    }
    #iconplus{
        margin-top: 80px;
        margin-right: -55px;
    }
    #header2{
        margin-top: 52px;
        margin-left: -85px;
    }
    #list, #iteminlist{
        margin-left: -35px;
        width: 257px;
    }
    .listname, .itemname{
        margin-left: -55px;
        margin-top: 10px;
    }
    #add, #add_itemBtn{
        position: relative;
        left: 30px;
    }
    #close, #close_itemBtn{
        position: relative;
        left: 52px;
    }
	section{
		flex-direction: column;
		margin: 0px;
        margin-top: 85px;
		width: 100%;
		align-content: center;
	}
	#addtask,
	#additem{
		left: 10%;
		top: 150px;
		width: 80%;
	}
	.position{
        font-size: 29px;
        left: 1%;
        top: 112px;
    }
    #backicon{
        margin-left: -220px;
    }
    .textofback{
        margin-left: -220px;
        margin-top: -5px;
    }
    h2{
        margin-left: -500px;
        margin-top: 55px;
    }
    .unique #iconplus{
        margin-top: 10px;
        margin-right: -220px;
    }
    

}
@media screen and (min-width: 400px) and (max-width: 440px) {
	nav {
		flex-direction: column;
		gap: 20px;
	}
    .heading{
        margin-left: 87px;
    }
    h1{
        margin-top: 80px;
        margin-right: -20px;
    }
    #iconplus{
        margin-top: 80px;
        margin-right: -29px;
    }
    #header2{
        margin-top: 52px;
        margin-left: -60px;
    }
    #list, #iteminlist{
        margin-left: -35px;
        width: 257px;
    }
    .listname, .itemname{
        margin-left: -55px;
        margin-top: 10px;
    }
    #add, #add_itemBtn{
        position: relative;
        left: 30px;
    }
    #close, #close_itemBtn{
        position: relative;
        left: 52px;
    }
	section{
		flex-direction: column;
		margin: 0px;
        margin-top: 95px;
		width: 100%;
		align-content: center;
	}
	#addtask,
	#additem{
		left: 63px;
		top: 150px;
        width: 70%;
	}
	.position{
        font-size: 29px;
        left: 0%;
        top: 110px;
    }
    #backicon{
        margin-left: -220px;
    }
    .textofback{
        margin-left: -220px;
        margin-top: -5px;
    }
    h2{
        margin-left: -484px;
        margin-top: 55px;
    }
    .unique #iconplus{
        margin-top: 10px;
        margin-right: -220px;
    }
    
}
@media screen and (min-width: 440px) and (max-width: 530px) {
	nav {
		flex-direction: column;
		gap: 20px;
	}
    .heading{
        margin-left: 145px;
    }
    h1{
        margin-top: 80px;
        margin-right: 33px;
    }
    #iconplus{
        margin-top: 80px;
        margin-right: 35px;
    }
    #header2{
        margin-top: 52px;
        margin-left: -5px;
    }
    #list, #iteminlist{
        margin-left: -6px;
        width: 285px;
    }
    .listname, .itemname{
        margin-left: -19px;
        margin-top: 10px;
    }
    #add, #add_itemBtn{
        position: relative;
        left: 75px;
    }
    #close, #close_itemBtn{
        position: relative;
        left: 95px;
    }
	section{
		flex-direction: column;
		margin: 0px;
        margin-top: 90px;
		width: 100%;
		align-content: center;
	}
	#addtask,
	#additem{
		left: 63px;
		top: 150px;
        width: 70%;
	}
	.position{
        font-size: 29px;
        left: 0%;
        top: 110px;
    }
    #backicon{
        margin-left: -220px;
    }
    .textofback{
        margin-left: -220px;
        margin-top: -5px;
    }
    h2{
        margin-left: -430px;
        margin-top: 55px;
    }
    .unique #iconplus{
        margin-top: 10px;
        margin-right: -220px;
    }
    
}

@media screen and (min-width: 530px) and (max-width: 600px) {
	nav {
		flex-direction: column;
		gap: 20px;
	}
    .heading{
        margin-left: 145px;
    }
    h1{
        margin-top: 80px;
        margin-right: 33px;
    }
    #iconplus{
        margin-top: 80px;
        margin-right: 35px;
    }
    #header2{
        margin-top: 52px;
        margin-left: -5px;
    }
    #list, #iteminlist{
        margin-left: -6px;
        width: 285px;
    }
    .listname, .itemname{
        margin-left: -19px;
        margin-top: 10px;
    }
    #add, #add_itemBtn{
        position: relative;
        left: 75px;
    }
    #close, #close_itemBtn{
        position: relative;
        left: 95px;
    }
	section{
		flex-direction: column;
		margin: 0px;
        margin-top: 90px;
		width: 100%;
		align-content: center;
	}
	#addtask,
	#additem{
		left: 63px;
		top: 150px;
        width: 70%;
	}
	.position{
        font-size: 29px;
        left: 0%;
        top: 110px;
    }
    #backicon{
        margin-left: -220px;
    }
    .textofback{
        margin-left: -220px;
        margin-top: -5px;
    }
    h2{
        margin-left: -430px;
        margin-top: 55px;
    }
    .unique #iconplus{
        margin-top: 10px;
        margin-right: -220px;
    }
    
}
